:root{
  --inset-shadow: 0px 1px 30px -4px rgba(0,0,0,0.43) inset;
  --shadow: 9px 10px 13px -1px rgba(0,0,0,0.57);
  --sp-green: #1DB954
  --temp: 10px 10px 151px 99px rgba(0,0,0,0.75) inset;
}


body{
  margin: auto;
  height: 1080px;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 1080px;
  background-color: white;
  background-image: url('../public/L.jpg');
  background-size: auto;
}

h1{
  margin: auto;
  padding-bottom: 5%;
}

section {
  margin-left: 5%;
  margin-right: 5%;
  width: 50%;
  /* background-color: #F0EAD6; */
  border-radius: 2%;
  padding: 2%;
  box-shadow: var(--inset-shadow)
}

#player-box {
  display: flex;
  flex-direction: column;
}

#player-box > img {
  width: 480px;
  height: auto;
  margin: auto;
  margin-bottom: 5%;
  box-shadow: var(--shadow)

}

h2 {
  margin: 0;
}

#artist-box{
  display: flex;
  padding: 0;
}

#bar-background{
  height: 3px;
  width: 100%;
  border-radius: 20%;
  background-color: #e2d7b1;
  margin: 1%;
  align-self: center 
}

#bar {
  height: 5px;
  background-color: var(--sp-green);
  border-radius: 15%;
}

#queue-box {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.queue-track {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.queue-track > img {
  max-width: 64px;
  height: 64px;
  margin: 1%;
  margin-right: 3%;
  flex: 1;
}

h5{
  margin: 0;
}

.queue-track-info{
  flex: 3;
  flex-direction: column;
  align-items: baseline;
  padding-top: 2%;
}

.queue-artists{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.queue-artists > p{
  margin-top: 0;
  margin-right: 2%;
  padding: 1%;
  text-overflow: ellipsis;    
}
